
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-image {
    width:568px;
    height:500px; 
    margin-left: 125px;
    display: inline-block;
}

header {
  margin: 44px 0 144px 76px;
}

.button-header {
  background: #665AE1;
  border-radius: 20.5px;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 24px;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.button-main {
  background: #ADFF00;
  border-radius: 30px;
  width: 239px;
  height: 64px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  filter: drop-shadow(0px 4px 4px rgba(0, .0, .0, 0.25));
  color: #000;
}

.link-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #989D9C;
  cursor: pointer;
  margin-right: 23px;
}

section {
  display: inline-block;
  margin-left: 86px;
}

h1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  color: #515151;
  width: 513px;
  height: 122px;
}

h2 {
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
  color: #515151;
  width: 448px;
  height: 71px;
}

p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  width: 515px;
  color: #848484;
  margin-top: 32px;
  margin-bottom: 65px;
}

@media screen and (max-width: 800px) {

.logo-image {
  display: block;
  position: static;
  width: 95%;
  height: 50%;
  margin: 130px 10px 10px 14px;
}

header {
  display: none;
}

p {
  display: none;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  color: #515151;
  width: 263px;
  height: 52px;
  }

h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #515151;
  width: 232px;
  height: 37px;
  }
  
.button-main {
  margin: 0 auto;
  display: block;
  
}

}